<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.bindings">
		<scheme
			id="IntelliJIdeaKeymap4EclipseScheme"
			name="IntelliJ IDEA">
		</scheme>

<!-- Mapping of IntelliJ IDEA DEFAULT KEYMAP: https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf -->

<!-- Keys are ordered as in IntelliJ IDEA: Settings > Keymap -->


		<!-- #######################################-->
		<!-- ***** START OF: 'Editor Actions' ***** -->
		
		<!-- 'Extend Selection' -->		
		<key
			sequence="Ctrl+W"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.jdt.ui.javaEditorScope"
			commandId="org.eclipse.jdt.ui.edit.text.java.select.enclosing">
		</key>
		
		<!-- 'Shrink Selection' -->		
		<key
			sequence="Ctrl+Shift+W"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.jdt.ui.javaEditorScope"
			commandId="org.eclipse.jdt.ui.edit.text.java.select.last">
		</key>
		
		<!-- ##### END OF: 'Editor Actions' ##### -->












		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > File' ***** -->
		
		<!-- 'Settings...', 'Open Settings dialog'  -->		
		<key
			sequence="Ctrl+Alt+S"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.window.preferences">
		</key>
		
		<!-- 'Project Structure...', 'Open Project Structure dialog' -->		
		<key
			sequence="Ctrl+Alt+Shift+S"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.project.properties">
		</key>
		
		<!-- 'Save all' -->		
		<key
			sequence="Ctrl+S"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.file.saveAll">
		</key>
		
		<!-- TODO What exactly does Synchronize do? Is it just refresh? -->
		<!-- 'Synchronize' -->		
		<key
			sequence="Ctrl+Alt+Y"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.file.refresh">
		</key>
		<!-- ##### END OF: 'Main Menu > File' ##### -->










		
		
		
		
		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Edit' ***** -->
		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Edit > Find' ***** -->
		
		<!-- TODO Search everywhere -->
		
		
		<!-- 'Find...' -->		
		<key
			sequence="M1+F"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findReplace">
		</key>
		<key
			sequence="Alt+F3"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findReplace">
		</key>
		
		<!-- 'Replace' -->		
		<key
			sequence="M1+R"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findReplace">
		</key>
		
		
		<!-- 'Find Next' -->		
		<key
			sequence="F3"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findNext">
		</key>
		<key
			sequence="Ctrl+L"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findNext">
		</key>
		
		<!-- 'Find Previous' -->		
		<key
			sequence="Shift+F3"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findPrevious">
		</key>
		<key
			sequence="Ctrl+Shift+L"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.findPrevious">
		</key>
		
		<!-- 'Find in path' -->		
		<!-- 'Replace in path' -->		
		<key
			sequence="Ctrl+Shift+F"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.search.ui.openFileSearchPage">
		</key>
		
		<!-- TODO multiple cursors required? Select next occurrence, Select all occurrences, Unselect occurrence -->
		
		<!-- ##### END OF: 'Main Menu > Edit > Find' ##### -->
		
		
		<!-- ##### END OF: 'Main Menu > Edit' ##### -->











		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > View' ***** -->

		<!-- TODO 'Quick switch current scheme' Ctrl + BackQuote (`) --> 

		<!-- 'Parameter Info' -->		
		<key
			sequence="CTRL+P"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation">
		</key>

		<!-- ##### END OF: 'Main Menu > View' ##### -->















		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Navigate' ***** -->
		<!-- ##### END OF: 'Main Menu > Navigate' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Code' ***** -->
		
		<!-- 'Surround with Live Template' -->		
		<key
			sequence="Ctrl+Alt+J"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.surround.with.quickMenu">
		</key>
		
		<!-- 'Insert Live Template' -->		
		<key
			sequence="Ctrl+J"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.specific_content_assist.command">
			<parameter
                id="org.eclipse.jdt.ui.specific_content_assist.category_id"
                value="org.eclipse.jdt.ui.templateProposalCategory">
          </parameter>
		</key>
		
		<!-- 'Generate code' -->		
		<key
			sequence="ALT+INSERT"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.jdt.ui.javaEditorScope"
			commandId="org.eclipse.jdt.ui.edit.text.java.source.quickMenu">
		</key>
		
		<!-- 'Code Completion Basic' -->		
		<key
			sequence="CTRL+SPACE"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.edit.text.contentAssist.proposals">
		</key> <!-- Command+SPACE+* is reserved on carbon, hardcode to CTRL -->
		
		<!-- ##### END OF: 'Main Menu > Code' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Analyze' ***** -->
		<!-- ##### END OF: 'Main Menu > Analyze' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Refactor' ***** -->
		
		<!-- TODO 'Copy' -->		
		
		<!-- 'Move' -->		
		<key
			sequence="F6"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.move.element">
		</key>


		<!-- TODO 'Safe Delete' -->		


		<!-- 'Rename' -->		
		<key
			sequence="Shift+F6"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.rename.element">
		</key>
		
		
		<!-- TODO 'Refactor This' -->	
		
		
		<!-- 'Change Signature' -->		
		<key
			sequence="Ctrl+F6"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.modify.method.parameters">
		</key>
		
		<!-- 'Inline' -->		
		<key
			sequence="Ctrl+Alt+N"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.inline">
		</key>
		
		<!-- 'Extract Method' -->		
		<key
			sequence="Ctrl+Alt+M"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.extract.method">
		</key>
		
		<!-- 'Extract Variable' -->		
		<key
			sequence="Ctrl+Alt+V"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.extract.local.variable">
		</key>
		
		<!-- 'Extract Field' -->		
		<key
			sequence="Ctrl+Alt+F"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.promote.local.variable">
		</key>
		
		<!-- 'Extract Constant' -->		
		<key
			sequence="Ctrl+Alt+C"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.correction.extractConstant.assist">
		</key>
		
		<!-- 'Extract Parameter' -->		
		<key
			sequence="Ctrl+Alt+P"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.introduce.parameter">
		</key>
		
		<!-- ##### END OF: 'Main Menu > Refactor' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Build' ***** -->
		
		<!-- Couldn't find Compile selected file, package or module -->
		
		<!-- 'Build Project' -->		
		<key
			sequence="Ctrl+F9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.project.buildProject">
		</key>
		
		<!-- 'Run' -->
		<key
			sequence="Shift+F10"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.RunLast">
		</key>
		
		<!-- 'Debug' -->		
		<key
			sequence="Shift+F9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.DebugLast">
		</key>
		
		<!-- 'Select configuration and run' -->		
		<key
			sequence="ALT+Shift+F10"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.OpenRunConfigurations">
		</key>
		
		<!-- 'Select configuration and debug' -->		
		<key
			sequence="ALT+Shift+F9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.OpenDebugConfigurations">
		</key>
		
		<!-- 'Run context configuration from editor' -->		
		<key
			sequence="Ctrl+Shift+F10"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.RunLast">
		</key>
		
		<!-- ##### END OF: 'Main Menu > Build' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Run' ***** -->
		
		<!-- 'Step Over' -->		
		<key
			sequence="F8"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.StepOver">
		</key>
		
		
		<!-- 'Step Into' -->		
		<key
			sequence="F7"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.StepInto">
		</key>
		
		<!-- TODO what does Smart step into / Step out do? -->
		
		<!-- 'Run to cursor' -->		
		<key
			sequence="Alt+F9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.RunToLine">
		</key>
		
		<!-- 'Evaluate expression' -->		
		<key
			sequence="Alt+F8"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.debug.ui.commands.Inspect">
		</key>
		
		<!-- 'Resume program' -->		
		<key
			sequence="F9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.Resume">
		</key>
		
		<!-- 'Toggle breakpoint' -->		
		<key
			sequence="Ctrl+F8"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint">
		</key>
		
		<!-- 'View breakpoints' -->		
		<key
			sequence="Ctrl+Shift+F8"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
                id="org.eclipse.ui.views.showView.viewId"
                value="org.eclipse.debug.ui.BreakpointView">
          </parameter>
		</key>
		
		<!-- ##### END OF: 'Main Menu > Run' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Tools' ***** -->
		<!-- ##### END OF: 'Main Menu > Tools' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > VCS' ***** -->
		<!-- ##### END OF: 'Main Menu > VCS' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Window' ***** -->
		
		
		<!-- START OF Main Menu > Window -> Active Tool Window -->
		<!-- 'Hide All Tool Windows', 'Toggle maximizing editor' -->
		<!-- Bug: https://github.com/IntelliJIdeaKeymap4Eclipse/IntelliJIdeaKeymap4Eclipse/issues/1 -->
		<key
			sequence="Ctrl+Shift+F12"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.window.maximizePart">
		</key>
		<!-- ##### END OF: 'Main Menu > Window' ##### -->










		
		<!-- #########################################-->
		<!-- ***** START OF: 'Main Menu > Help' ***** -->
		
		<!-- 'Find Action...' -->		
		<key
			sequence="Ctrl+Shift+A"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.window.quickAccess">
		</key>
		<!-- ##### END OF: 'Main Menu > Help' ##### -->










		
		<!-- ###################################-->
		<!-- ***** START OF: 'Tool Windows' ***** -->
		

		<!-- TODO Known Bug: Tool Windows: Pressing the same sequence again should close / reopen the view -->




		<!-- TODO Tool Windows:'Messages' Has Eclipse a 'Messages' view? <key sequence="Alt+0 ... -->




		<!-- Tool Windows:'Project' -->
		<key
			sequence="Alt+1"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.ui.navigator.ProjectExplorer">
			</parameter>
		</key>




		<!-- TODO Tool Windows:'Favorites' Has Eclipse a 'Favorites' view? <key sequence="Alt+2 ... -->




		<!-- Tool Windows:'Find' -->
		<key
			sequence="Alt+3"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.search.ui.views.SearchView">
			</parameter>
		</key>


		<!-- Tool Windows:'Run' -->
		<!-- TODO Has Eclipse a Run View - best match is probably Console? -->
		<key
			sequence="Alt+4"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.ui.console.ConsoleView">
			</parameter>
		</key>


		<!-- Tool Windows:'Debug' -->
		<!-- TODO Has Eclipse a Debug View - best thing would be to create a new view which contains (as subviews) Debug Stacktrace + Variables + Breakpoints 
			view? -->
		<key
			sequence="Alt+5"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.debug.ui.DebugView">
			</parameter>
		</key>


		<!-- Tool Windows:'TODO' -->
		<key
			sequence="Alt+6"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.ui.views.TaskList">
			</parameter>
		</key>


		<!-- Tool Windows:'Structure' -->
		<key
			sequence="Alt+7"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.ui.views.ContentOutline">
			</parameter>
		</key>


		<!-- Tool Windows:'Version Control' -->
		<!-- TODO SynchronizeView oder org.eclipse.egit.ui.StagingView -->
		<key
			sequence="Alt+9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.team.sync.views.SynchronizeView">
			</parameter>
		</key>
		<key
			sequence="Alt+Shift+9"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.views.showView">
			<parameter
				id="org.eclipse.ui.views.showView.viewId"
				value="org.eclipse.team.sync.views.SynchronizeView">
			</parameter>
		</key>
		
		<!-- ##### END OF: 'Tool Windows' ##### -->










		
		
		
		
		<!-- ###################################-->
		<!-- ***** START OF: 'Version Control Systems' ***** -->
		<!-- ##### END OF: 'Version Control Systems' ##### -->










		
		<!-- ###################################-->
		<!-- ***** START OF: 'External Build Systems' ***** -->
		<!-- ##### END OF: 'External Build Systems' ##### -->










		
		<!-- ###################################-->
		<!-- ***** START OF: 'Debugger Actions' ***** -->
		<!-- ##### END OF: 'Debugger Actions' ##### -->










		
		<!-- ###################################-->
		<!-- ***** START OF: 'Other' ***** -->
		
		<!-- TODO 'Inspect current file with current profile' Alt + Shift + I --> 

		<!-- 'Show Intention Actions' -->		
		<key
			sequence="ALT+Enter"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals">
		</key>
		
		<!-- 'New...' -->		
		<key
			sequence="ALT+INSERT"
			schemeId="IntelliJIdeaKeymap4EclipseScheme"
			contextId="org.eclipse.ui.contexts.window"
			commandId="org.eclipse.ui.file.newQuickMenu">
		</key>
		
		


		<!-- ##### END OF: 'Other' ##### -->










		
	</extension>

</plugin>
